# Certs
*.0

# Tests
test/*test
sha256t
sha512t
rehash.time

# OpenSSL binaries
apps/openssl

# OpenSSL metadata
*.pc
*.bak

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.s
lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
